$white: rgb(255, 255, 255);

// data details
.aditionalData {
  opacity: 0;
  transition: 0.4s;
  &.active {
    opacity: 1;
  }
  font-size: 1.2rem;
  @media (min-width: 768px) {
    font-size: 2.5rem;
    max-width: 80%;
    margin: 10px auto 20px auto;
  }
  @media (min-width: 1024px) {
    max-width: 70%;
  }

  h5 {
    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
  .float-right {
    font-size: 1.5rem;
    @media (min-width: 375px) and(min-height:812px) {
      font-size: 1.5rem;
    }
    @media (min-width: 411px) and(min-height:731px) {
      font-size: 1.5rem;
    }
    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
  .card-body {
    background-color: white;
    text-transform: uppercase;
    .col-md-3 {
      text-align: center;
    }
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  .mx-auto {
    @media (min-width: 411px) and(min-height:731px) {
      font-size: 1.5rem;
    }
    @media (min-width: 375px) and(min-height:812px) {
      font-size: 1.5rem;
    }
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  .progress-bar {
    @media (min-width: 411px) and(min-height:731px) {
      font-size: 1rem;
    }
    @media (min-width: 375px) and(min-height:812px) {
      font-size: 1.5rem;
    }
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
  }
}
